.header {
    border: 1px solid grey;
    box-shadow: 0 2px 0 gainsboro;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.title{
    font-size: 18px;
    padding: 10px;
}

.keeplogo{
    width: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.Search{
    width: 500px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: relative;
    right: 50px;
    border-radius: 8px;
    background-color: rgb(241, 241, 241);
}

.SearchIP{
    width: 450px;
    height: 4vh;
    outline: none;
    border: none;
    background-color: rgb(241, 241, 241);
}

.icon1{
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon11{
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    right: 30px;
}